.loader {border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid blue;border-bottom: 16px solid blue; width: 80px; height: 80px; position: fixed; left: 47%; top: 40%; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; z-index: 9999;}
@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

#tab-extra legend { margin-bottom : 0; }
.ostab{background: #f0f1f5; border:1px solid #ddd; padding: 10px; margin-bottom:8px;}
.ostab li{border:1px solid #ddd;background: #e4e6ea;margin-top: 4px;margin-bottom: 4px;}
.ostab li.active{border:none;}
.ostab li a{color: #000;padding: 12px;}